.nav-tabs {
  border-bottom: 2px solid #DDD;
}

ul.nav-tabs {
    margin-top: 0;
    padding-inline-start: 0px;
    padding-right: 0;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  border-width: 0;
}

.nav-tabs > li {
    display: block;
    float: left;
    position: relative;
    margin-bottom: -1px;
}
.nav-tabs > li > a {
  border: none;
  color: #666;
}
.nav-tabs > li.active > a, .nav-tabs > li > a:hover {
  border: none;
  color: #4285F4 !important;
  background: transparent;
}
.nav-tabs > li > a::after {
  content: "";
  background: #4285F4;
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: -1px;
  transition: all 250ms ease 0s;
  transform: scale(0);
}
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
  transform: scale(1);
}
.tab-nav > li > a::after {
  background: #21527d none repeat scroll 0% 0%;
  color: #fff;
}
.nav-tabs > li > a {
    padding: 5px 10px;
    display: block;
}
.tab-pane {
    padding: 3px 0;
    display: none;
}
.tab-content > .active {
    display: inline;
}

.code-tabs {
  border: 1px solid lightgray;
  padding: 0 10px;
  margin-bottom: 10px;
}

.nav-tabs {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

ul.nav-tabs::before {
    box-sizing: border-box;
    content: " ";
    display: table;
}

ul.nav-tabs::after {
    box-sizing: border-box;
    content: " ";
    display: table;
    clear: both;
}

pre {
    position: relative;
}
