---
title: "Cubic Protobuf API Docs"
weight: 100
---

{{range .Files}}
{{$file_name := .Name}}

## {{.Name}}
{{.Description}}

{{range .Services}}


### Service: {{.Name}}
{{.Description}}

| Method Name | Request Type | Response Type | Description |
| ----------- | ------------ | ------------- | ------------|
{{range .Methods -}}
  | {{.Name}} | [{{.RequestLongType}}](#{{.RequestLongType}}) | [{{.ResponseLongType}}](#{{.ResponseLongType}}) | {{nobr .Description}} |
{{end}}
{{end}} <!-- end services -->

{{range .Messages}}

<a name="{{.LongName}}"></a>
### Message: {{.LongName}}
{{.Description}}

{{if .HasFields}}
| Field | Type | Label | Description |
| ----- | ---- | ----- | ----------- |
{{range .Fields -}}
  | {{.Name}} | [{{.LongType}}](#{{.LongType}}) | {{.Label}} | {{nobr .Description | p}}{{if .DefaultValue}} Default: {{.DefaultValue}}{{end}} |
{{end}}
{{else}}
This message is empty and has no fields.
{{end}}

{{if .HasExtensions}}
| Extension | Type | Base | Number | Description |
| --------- | ---- | ---- | ------ | ----------- |
{{range .Extensions -}}
  | {{.Name}} |[{{.LongType}}](#{{.LongType}})  | {{.ContainingLongType}} | {{.Number}} | {{nobr .Description}}{{if .DefaultValue}} Default: {{.DefaultValue}}{{end}} |
{{end}}
{{end}}

{{end}} <!-- end messages -->

{{range .Enums}}

<a name="{{.LongName}}"></a>
### Enum: {{.LongName}}
{{.Description}}

| Name | Number | Description |
| ---- | ------ | ----------- |
{{range .Values -}}
  | {{.Name}} | {{.Number}} | {{nobr .Description}} |
{{end}}

{{end}} <!-- end enums -->

{{if .HasExtensions}}

### File-level Extensions
| Extension | Type | Base | Number | Description |
| --------- | ---- | ---- | ------ | ----------- |
{{range .Extensions -}}
  | {{.Name}} | {{.LongType}} | {{.ContainingLongType}} | {{.Number}} | {{nobr .Description}}{{if .DefaultValue}} Default: `{{.DefaultValue}}`{{end}} |
{{end}}
{{end}} <!-- end HasExtensions -->


{{end}}
## Well-Known Types
See the protocol buffer documentation for these

| .proto Type | Notes | 
| ----------- | ----- |
| <a name=".google.protobuf.Empty" href="https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#duration">Duration</a> | Represents a signed, fixed-length span of time represented as a count of seconds and fractions of seconds at nanosecond resolution |
| <a name=".google.protobuf.Empty" href="https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#empty">Empty</a> | Used to indicate a method takes or returns nothing |

## Scalar Value Types

| .proto Type | Notes | Go Type | Python Type |
| ----------- | ----- | ------- | ----------- |
{{range .Scalars -}}
  | <a name="{{.ProtoType}}"> </a> {{.ProtoType}} | {{.Notes}} | {{.GoType}} | {{.PythonType}} |
{{end}}

